* {
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
}
body { padding: 20px; }
.container {
	max-width: 960px; 
	border: 2px solid grey;
	background-color: rgba(255,255,255,.9);
	margin: 25px auto;
	padding: 15px; 
	overflow: auto; 
}
.submit {
	background-color: green;
	color: white;
	padding: 5px 10px; 
	border: 2px solid black;
	box-shadow: 2px 2px 10px black; 
}
.form_type:hover { text-shadow: 0px 0px 10px orange; }
.error { color: red; }
h3 {
	text-align: center;
	text-shadow: 0px 0px 5px green;
}
.btn { float: right; }
.btn:hover { box-shadow: 0px 0px 15px black; }
p.copyright {
	color: white; 
	text-align: center;
	z-index: 25;
}
a {
	color: orange; 
	font-weight: bold;
}